<!DOCTYPE html>
<html>
<head>
  <base href="https://esp-nishikawa.github.io/esp-hp/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>株式会社イーソフトパワーズ - eSoftPowers</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
  <link href="lib/vuetify.min.css" rel="stylesheet" type="text/css">
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="canonical" href="http://esoftpowers.com/">
</head>
<body>
  <div id="app">
    <v-app light>
      <v-navigation-drawer
        app
        fixed
        clipped
        v-model="isNavigation"
      >
        <v-list>
          <v-list-tile
            v-for="(item, i) in items"
            :key="i"
            :to="item.path"
            @click.native.stop="isNavigation = false"
            ripple
          >
            <v-list-tile-action>
              <v-icon light v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>

      <v-toolbar fixed app clipped-left class="white">
        <v-toolbar-side-icon
          @click.native.stop="isNavigation = !isNavigation"
        >
        </v-toolbar-side-icon>
        <v-toolbar-title>
          <h1
            class="hover-link"
            data-hover="eSoftPowers"
            @click.stop="$router.push('/')"
          >
            eSoftPowers
          </h1>
        </v-toolbar-title>
      </v-toolbar>

      <transition @enter="onEnter" @leave="onLeave" mode="out-in">
        <router-view></router-view>
      </transition>

      <v-footer class="blue darken-1">
        <v-spacer></v-spacer>
        <div class="white--text mr-3">
          Copyright &copy; {{ new Date().getFullYear() }} eSoftPowers.co.ltd All Rights Reserved.
        </div>
      </v-footer>

      <v-fab-transition>
        <v-btn
          fab dark
          fixed bottom right
          class="mb-3"
          style="opacity:0.8"
          color="purple"
          v-scroll="onScroll"
          v-show="offsetTop > 60"
          @click.stop="$vuetify.goTo('#app')"
        >
          <v-icon v-html="'keyboard_arrow_up'"></v-icon>
        </v-btn>
      </v-fab-transition>
    </v-app>
  </div>

  <script src="lib/babel.min.js"></script>
  <script src="lib/polyfill.min.js"></script>
  <script src="lib/vue.min.js"></script>
  <script src="lib/vue-router.min.js"></script>
  <script src="lib/vuetify.min.js"></script>
  <script src="lib/TweenMax.min.js"></script>
  <script src="home.js" type="text/babel"></script>
  <script src="info.js" type="text/babel"></script>
  <script src="service.js" type="text/babel"></script>
  <script src="recruit.js" type="text/babel"></script>
  <script type="text/babel">
    const routes = [
      { path: '/', component: { template: '<home></home>' }, meta: {title: '株式会社イーソフトパワーズ'} },
      { path: '/info', component: { template: '<info></info>' }, meta: {title: '会社概要'} },
      { path: '/service', component: { template: '<service></service>' }, meta: {title: '事業分野'} },
      { path: '/recruit', component: { template: '<recruit></recruit>' }, meta: {title: '採用情報'} },
    ];

    const router = new VueRouter({
      mode: 'history',
      routes,
      scrollBehavior (to, from, savedPosition) {
        let position = { x: 0, y: 0 };
        //if (savedPosition) {
        //  position = savedPosition;
        //}
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            resolve(position);
          }, 200)
        });
      },
    });
    router.beforeEach((to, from, next) => {
      document.title = `${to.meta.title} - eSoftPowers`;
      next();
    });

    new Vue({
      el: '#app',
      router,
      data () {
        return {
          isNavigation: false,
          offsetTop: 0,
          items: [
            { icon: 'home', title: 'ホーム', path: '/' },
            { icon: 'flag', title: '会社概要', path: '/info' },
            { icon: 'work', title: '事業分野', path: '/service' },
            { icon: 'face', title: '採用情報', path: '/recruit' },
          ],
        }
      },
      methods: {
        onScroll() {
          if (!window) return;
          this.offsetTop = window.pageYOffset || document.documentElement.offsetTop || 0;
        },
        onEnter(el, done) {
          TweenMax.fromTo(el, 0.3, {
            autoAlpha: 0,
            scale: 0.5,
          }, {
            autoAlpha: 1,
            scale: 1,
            transformOrigin: '50% 50%',
            ease: Power4.easeOut,
            onComplete: done
          });
        },
        onLeave(el, done) {
          TweenMax.fromTo(el, 0.2, {
            autoAlpha: 1,
          }, {
            autoAlpha: 0,
              ease: Power4.easeOut,
              onComplete: done
          });
        }
      },
    })
  </script>
</body>
</html>
